In [ ]:
import pandas as pd
import numpy as np
from numpy.linalg import norm
import collections
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
s1 = 'sunshine state enjoy sunshine'
s2 = 'brown fox jump high brown fox run'
s3 = 'sunshine state fox run fast'

In [5]:
# for splitting
ns1 = s1.split(" ")
ns2 = s2.split(" ")
ns3 = s3.split(" ")

In [9]:
# to find a vacobalry 
unique = set(ns1).union(set(ns2)).union(set(ns3))
unique

{'brown', 'enjoy', 'fast', 'fox', 'high', 'jump', 'run', 'state', 'sunshine'}

In [12]:
Wdict1 = dict.fromkeys(unique, 0) 
Wdict2 = dict.fromkeys(unique, 0) 
Wdict3 = dict.fromkeys(unique, 0)
Wdict1

{'fox': 0,
 'high': 0,
 'run': 0,
 'fast': 0,
 'state': 0,
 'sunshine': 0,
 'brown': 0,
 'jump': 0,
 'enjoy': 0}

In [14]:
for unique in ns1:
    Wdict1[unique]+=1

for unique in ns2:
    Wdict2[unique]+=1

for unique in ns3:
    Wdict3[unique]+=1

In [23]:
def computeTF(Wdict, n):
    TFdict = {}
    nCount = len(n)
    for unique, count in Wdict.items():
        TFdict[unique] = count/float(nCount)
    return TFdict

In [24]:
def computeIDF(Slist):
    import math
    IDFdict = {}
    N = len(Slist)
    
    IDFdict = dict.fromkeys(Slist[0].keys(), 0)
    for S in Slist:
        for unique, val in S.items():
            if val > 0:
                IDFdict[unique] += 1
    
    for unique, val in IDFdict.items():
        IDFdict[unique] = math.log10(N / float(val))
        
    return IDFdict

In [27]:
kS1 = computeTF(Wdict1, ns1)
kS2 = computeTF(Wdict2, ns2)
kS3 = computeTF(Wdict3, ns3)
kS3

{'fox': 0.2,
 'high': 0.0,
 'run': 0.2,
 'fast': 0.2,
 'state': 0.2,
 'sunshine': 0.2,
 'brown': 0.0,
 'jump': 0.0,
 'enjoy': 0.0}

In [32]:
nq = computeIDF([Wdict1, Wdict2 , Wdict3])
nq

{'fox': 0.17609125905568124,
 'high': 0.47712125471966244,
 'run': 0.17609125905568124,
 'fast': 0.47712125471966244,
 'state': 0.17609125905568124,
 'sunshine': 0.17609125905568124,
 'brown': 0.47712125471966244,
 'jump': 0.47712125471966244,
 'enjoy': 0.47712125471966244}

In [41]:
def computeTFIDF(tf_S, Idf):
    TF_IDF = {}
    for unique, val in tf_S.items():
        TF_IDF[unique] = val*Idf[unique]
    return TF_IDF

In [43]:
TF_IDF_S1 = computeTFIDF(kS1, Idf)
TF_IDF_S2 = computeTFIDF(kS2, Idf)
TF_IDF_S3 = computeTFIDF(kS3, Idf)
TF_IDF_S1

{'fox': 0.0,
 'high': 0.0,
 'run': 0.0,
 'fast': 0.0,
 'state': 0.04402281476392031,
 'sunshine': 0.08804562952784062,
 'brown': 0.0,
 'jump': 0.0,
 'enjoy': 0.11928031367991561}

In [44]:
pd.DataFrame([kS1, kS2, kS3])

,fox,high,run,fast,state,sunshine,brown,jump,enjoy
0,0.000000,0.000000,0.000000,0.0,0.25,0.5,0.000000,0.000000,0.25
1,0.285714,0.142857,0.142857,0.0,0.00,0.0,0.285714,0.142857,0.00
2,0.200000,0.000000,0.200000,0.2,0.20,0.2,0.000000,0.000000,0.00

In [45]:
pd.DataFrame([Idf])

,fox,high,run,fast,state,sunshine,brown,jump,enjoy
0,0.176091,0.477121,0.176091,0.477121,0.176091,0.176091,0.477121,0.477121,0.477121

In [46]:
pd.DataFrame([TF_IDF_S1, TF_IDF_S2, TF_IDF_S3])

,fox,high,run,fast,state,sunshine,brown,jump,enjoy
0,0.000000,0.00000,0.000000,0.000000,0.044023,0.088046,0.00000,0.00000,0.11928
1,0.050312,0.06816,0.025156,0.000000,0.000000,0.000000,0.13632,0.06816,0.00000
2,0.035218,0.00000,0.035218,0.095424,0.035218,0.035218,0.00000,0.00000,0.00000

In [49]:
s1a = np.array([2, 0, 0, 0, 1, 0, 0, 0, 1])
s2a = np.array([1, 1, 1, 0, 0, 1, 0, 0, 1])

In [50]:
cosine = np.dot(s1a,s2a)/(norm(s1a)*norm(s2a))
print("Cosine Similarity = ", cosine)

Cosine Similarity =  0.5477225575051661